<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="Info" internalLogFile="${basedir}\Log\InnerLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="allFile" fileName="d:\logs\nlog-${shortdate}.log"
			  layout="->(${longdate}) : ${level} : ${message}" />
		<target xsi:type="File" name="exceptions" fileName="D:\logs\exceptions\nlog-${shortdate}.log"
	  layout="->(${longdate}) : ${level} : ${message}" />
		<target xsi:type="File" name="informations" fileName="D:\logs\informations\nlog-${shortdate}.log"
	  layout="->(${longdate}) : ${level} : ${message}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--Using the attribute 'name', you can define the place, such as VehicleService or any other, from which you want to catch logs.-->
		<!--'minLevel' is the minimal level for capturing logs.-->
		<!--'maxLevel' is the minimal level for capturing logs.-->
		<logger name="*" minLevel="Trace" writeTo="allFile" />
		<logger name="CarServiceMate" minLevel="Error" writeTo="exceptions" />
		<logger name="CarServiceMate.Middleware.RequestTimeMiddleware" minLevel="Information" maxLevel="Information" writeTo="informations" />
	</rules>
</nlog>

<!-- 
Trace - 0 - LogTrace
Debug - 1 - LogDebug
Information - 2 LogInfromation
Warning - 3 - LogWarining
Error - 4 - LogError
Critical - 5 - LogCritical
-->